{% extends "base.html" %}
{% block title %}Connexion{% endblock title %}
{% block main_content %}
<div>
    <h2>Incrivez-vous maintenant</h2>
    <a href="{% url 'signup' %}" class="button">S'incrire</a>
</div>
<div>
    <h2>Connectez-vous</h2>
    {# Affiche les messages d'erreurs de connexion #}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {# Formulaire de connexion #}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="button">Se Connecter</button>
    </form>
</div>
{% endblock main_content %}