{% extends "base.html" %}
{% block title %}Inscription{% endblock title %}
{% block page_name %}Formulaire d'inscription{% endblock page_name %}
{% block main_content %}
<div>
    <h2>Incrivez-vous</h2>
    {# Affiche les messages d'erreurs de connexion #}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {# Formulaire d'inscription #}
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="button-container">
            <button type="button" onclick="window.location.href='{% url 'login' %}'" class="button">Retourner</button>
            <button id="signup" type="submit" class="button">S'incrire</button>
        </div>
    </form>
</div>
{% endblock main_content %}