{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Flux{% endblock title %}
{% block page_name %}Flux{% endblock page_name %}
{% block main_content %}
<div>
    <p>
        <button type="button" onclick="window.location.href='{% url 'create_ticket' %}'" class="button">Demander une critique</button>
        <button type="button" onclick="window.location.href='{% url 'create_standalone_review' %}'" class="button">Créer une critique</button>
    </p>
    <div class="posts-list">
        {% for post in posts %}
        <div class="post">
            <p>
                {% if post.is_ticket %}
                    {% with post_type="demandé une critique" %}
                        {% if post.user.username == user.username %}
                            Vous avez {{ post_type }}
                        {% else %}
                            <span class="bold-element">
                                👤 {{ post.user.username }}
                            </span> a {{ post_type }}
                        {% endif %}
                    {% endwith %}
                {% else %}
                    {% with post_type="publié une critique" %}
                        {% if post.user.username == user.username %}
                            Vous avez {{ post_type }}
                        {% else %}
                            <span class="bold-element">
                                👤 {{ post.user.username }}
                            </span> a {{ post_type }}
                        {% endif %}
                    {% endwith %}
                {% endif %}  
            </p>
            <p class="ticket-date">{{ post.time_created|date:"H:i, j F Y" }}</p>
            <p class="ticket-title">
                {{ post.title }}
                {# Si le post est une critique, afficher la note #}
                {% if not post.is_ticket %}
                    - 
                    {% for rate in post.rating|iteration %}
                        ★
                    {% endfor %}
                    {% for rate in post.rating|remaining_stars %}
                        ☆
                    {% endfor %}
                {% endif %}
            </p>
            <p class="ticket-description">
                {# Si le post est un ticket, afficher la description #}
                {% if post.description %}
                    {{ post.description }}
                {# Si le post est une critique, afficher le commentaire #}
                {% else %}
                    {{ post.comment }}
                {% endif %}
            </p>
            {# Si le post contient une image #}
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="Couverture du livre" title="{{ post.title }}" class="ticket-image">
            {% endif %}
            {# Si le post est un ticket #}
            {% if post.is_ticket%}
                {# Si l'utilisateur connecté n'est pas l'auteur, qu'aucune critique n'a été publiée, afficher le bouton de création de critique #}
                {% if post.user.username != user.username and post.id not in reviewed_tickets %}
                    <p class="ticket-buttons">
                        <a href="{% url 'create_related_review' post.id %}" class="answer-button button">Créer une critique</a>
                    </p>
                {% endif %}
            {% else %}
            {# Si le post est une critique, afficher le ticket en référence #}
            <div class="post">
                <p>Ticket <b>{{ post.ticket.id }}</b></p>
                <b>👤 {{ post.ticket.user.username }}</b>
                <p class="ticket-title">{{ post.ticket.title }}</p>
                {% if post.ticket.description %}
                    <p class="ticket-description">{{ post.ticket.description }}</p>
                {% endif %}
                {% if post.ticket.image %}
                    <img src="{{ post.ticket.image.url }}" alt="Couverture du livre" title="{{ post.ticket.title }}" class="ticket-image">
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main_content%}