{% extends "base.html" %}
{% block title %}Abonnements{% endblock title %}
{% block page_name %}Onglet d'abonnements{% endblock page_name %}
{% block main_content %}
<div>
    <p>Suivre d'autres utilisateurs</p>
    <form method="post" class="follow-form">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="button follow-button">Suivre</button>
    </form>
    <div id="users-suggestions-list" class="users-suggestions-list hidden">
    </div>
    {% if messages %}
        {% for message in messages %}
            <p class="bold-element">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <h2>Abonnements</h2>
    <div class="follows-list">
        {% for user in following %}
            {%if user not in blocked_users %}
                <div>👤 {{ user }}
                    <p class="follows-options">
                        <a href="../block/user_{{ user.user_id }}/" class="button">🚫 Bloquer</a>
                        <a href="../unfollow/user_{{ user.user_id }}/" class="button">❌ Désabonner</a>
                    </p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h2>Abonnés</h2>
    <div class="follows-list">
        {% for follower in followers %}
            {%if follower not in blocked_users %}
                <div>👤 {{ follower }}
                    <p class="follows-options">
                        <a href="../block/user_{{ follower.user_id }}/" class="button">🚫 Bloquer</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <h2>Utilisateurs bloqués</h2>
    <div class="follows-list">
        {% for blocked in blocked_users %}
            <div>👤 {{ blocked }}
                <p class="follows-options">
                    <a href="../unblock/user_{{ blocked.user_id }}/" class="button">🔓 Débloquer</a>
                </p>
            </div>
        {% endfor %}
</div>
{% endblock main_content %}