{% extends "base.html" %}
{% load custom_filters %}
{% block title %}Vos posts{% endblock title %}
{% block page_name %}Vos posts{% endblock page_name %}
{% block main_content %}
<div>
    {% if messages %}
        {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</>
        {% endfor %}
    {% endif %}
    <p>
        <button type="button" onclick="window.location.href='{% url 'create_ticket' %}'" class="button">Demander une critique</button>
        <button type="button" onclick="window.location.href='{% url 'create_standalone_review' %}'" class="button">Créer une critique</button>
    </p>
    <div class="posts-list">
        {% for post in posts %}
            <div class="post">
                {% if post.is_ticket %}
                    <p>Vous avez publié un ticket</p>
                {% else %}
                    <p>Vous avez publié une critique</p>
                {% endif %}
                <p class="ticket-date">{{ post.time_created|date:"H:i, j F Y" }}</p>
                <p class="ticket-title">
                    {{ post.title }}
                    {% if not post.is_ticket %}
                        - 
                        {% for rate in post.rating|iteration %}
                            ★
                        {% endfor %}
                        {% for rate in post.rating|remaining_stars %}
                            ☆
                        {% endfor %}
                    {% endif %}
                </p>
                <p class="ticket-image-description">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Image de couverture de {{ post.title }}" title="{{ post.title }}" class="ticket-image">
                    {% endif %}
                    <span class="description">
                        {% if post.description %}
                            {{ post.description }}
                        {% else %}
                            {{ post.comment }}
                        {% endif %}
                    </span>
                </p>
                {% if not post.is_ticket %}
                    <div class="post">
                        <p class="ticket-date">{{ post.ticket.time_created|date:"H:i, j F Y" }}</p>
                        <p class="ticket-title">{{ post.ticket.title }}</p>
                        <p class="ticket-image-description">
                            {% if post.ticket.image %}
                                <img src="{{ post.ticket.image.url }}" alt="Image de couverture de {{ post.ticket.title }}" title="{{ post.ticket.title }}" class="ticket-image">
                            {% endif %}
                            <span class="description">{{ post.ticket.description }}</span>
                        </p>
                    </div>
                {% endif %}
                <p class="ticket-buttons">
                    {% if post.is_ticket %}
                        <a href="{% url 'edit_ticket' post.id 'ticket' %}" class="button" title="Modifier le ticket"
                        aria-label="Ouvre la page de modification des tickets">Modifier</a>
                        <a href="{% url 'delete_ticket' post.id 'ticket' %}" class="button" title="Supprimer le ticket"
                        aria-label="Supprime le ticket et les critiques associées"
                        onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?');">Supprimer</a>
                    {% else %}
                        <a href="{% url 'edit_review' post.id 'review' %}" class="button" title="Modifier la critique"
                        aria-label="Ouvre la page de modification des critiques">Modifier</a>
                        <a href="{% url 'delete_review' post.id 'review' %}" class="button"  title="Supprimer la critique"
                        aria-label="Supprime la critique"
                        onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?');">Supprimer</a>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock main_content %}