* {
    color: black;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

.header_content, main {
    border: 1px solid black;
    padding: 10px;
}

.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
}

.header_content h2 {
    left: 50%;
    position: absolute;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 0px;
}

main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    width: 50%;
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
}

input {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 100%;
}

h1 sub {
    font-size: 0.5em;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    position: absolute;
    right: 1%;
}

li {
    cursor: pointer;
}