{% extends "base.html" %}
{% block page_name %}Voir vos propres posts{% endblock page_name %}
{% block main_content %}
<div>
    <h2>Vos posts</h2>
    <div class="posts-list">
        {% for post in posts %}
            <div class="post">
                <p>Vous avez publié un ticket</p>
                <p class="ticket-date">{{ post.time_created|date:"H:i, j F Y" }}</p>
                <p class="ticket-title">{{ post.title }}</p>
                <p class="ticket-image-description">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Image de {{ post.title }}" class="ticket-image">
                    {% else %}
                        <p>Aucune image disponible.</p>
                    {% endif %}
                    <span class="description">{{ post.description }}</span>
                </p>
                <p class="ticket-buttons">
                    <a href="{% url 'edit_ticket' post.id %}" class="button">Modifier</a>
                    <a href="{% url 'delete_ticket' post.id %}" class="button" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce post ?');">Supprimer</a>
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock main_content %}