* {
    font-family: 'Roboto', sans-serif;
    color: black;
}

body {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 5px 0px;
}

h1 {
    text-align: center;
}

.hidden {
    display: none !important;
}

.header_content, main {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.header_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
}

.header_content h2 {
    left: 50%;
    position: absolute;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
}

input {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

h1 sub {
    font-size: 0.5em;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 1%;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}

li {
    cursor: pointer;
}

.bold-element {
    font-weight: bold;
}

.users-suggestions-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    border: 1px solid black;
}

.users-suggestions-list li:hover {
    background-color: lightgray;
}

.follow-form {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.follows-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.follows-list p {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    width: 40%;
    height: 40px;
    position: relative;
}

.follows-list a.button {
    position: absolute;
    right: 5px;
    border: none;
    border-radius: 0;
    border-left: 1px solid black;
    height: auto;
}

textarea {
    width: 100%;
    height: 200px;
}

.posts-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.post {
    border: 1px solid black;
    width: 60%;
    padding: 5px;
    position: relative;
}

.post div.post {
    width: 90%;
    margin: 0 auto;
}

.ticket-image-description {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ticket-title {
    font-size: 150%;
    font-weight: bold;
}

.ticket-image {
    max-width: 200px;
}

.ticket-date {
    text-align: right;
    font-style: italic;
    position: absolute;
    right: 5px;
    top: 5px;
}

.ticket-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: flex-end;
}

.ticket-preview {
    width: 100%;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rating label {
    display: flex;
    flex-direction: row;
    gap: 10px;
}