{% load static %}
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        {% block header %}
        <header>
            <h1>{% block page_name %}{% endblock page_name %}</h1>
            <div class="header_content">
                LIT Review
                <nav>
                    {% if user.is_authenticated %}
                    <li>Flux</li>
                    <li>Posts</li>
                    <li>Abonnements</li>
                    <li>Se déconnecter</li>
                    {% endif %}
                </nav>
            </div>
        </header>
        {% endblock header %}
        {% block main %}
        <main>
            {% block main_content %}{% endblock main_content %}
        </main>
        {% endblock main %}
        {% block footer %}
        <footer></footer>
        {% endblock footer %}
    </body>
</html>