{% load static %}
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        {% block header %}
        <header>
            <h1>{% block page_name %}{% endblock page_name %}</h1>
            <div class="header_content">
                {% if user.is_authenticated %}
                <span>Connecté en tant que <b>{{ user.username }}</b></span>
                {% endif %}
                <h2>LIT Review</h2>
                <nav>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'flux' %}">Flux</a></li>
                    <li><a href="{% url 'posts' %}">Posts</a></li>
                    <li><a href="{% url 'follows' %}">Abonnements</a></li>
                    <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                    {% endif %}
                </nav>
            </div>
        </header>
        {% endblock header %}
        {% block main %}
        <main>
            {% block main_content %}{% endblock main_content %}
        </main>
        {% endblock main %}
        {% block footer %}
        <footer></footer>
        {% endblock footer %}
    </body>
</html>